body {
	background-image: url(../images/background.jpg);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-repeat: none;
    background-size: cover;
}
@font-face{
    font-family: swanky;
    src: url(../fonts/fontdinerswanky.ttf);
}
@font-face{
    font-family: lobster;
    src: url(../fonts/lobstervar4.otf);
}
a{
    text-decoration: none;
}
p{
    color:black;
    font-weight: bold;
 font-family: 'Dosis', sans-serif;
 font-size: 17px;
}
.nav {
/*
	background-color: white;
	background-color: rgba(255,255,255,.3);
*/
	color: black;
    font-family: lobster;
    border-radius: 3em;
}
.nav2{
    color: black;
    font-family: 'Dosis';
    border-radius: 3em;
    font-size: 30px;

}
.undaline{
    text-decoration: underline;
    font-family: lobster;


}


.icy_back{
    background-color: black;
    background-color: rgba(255,255,255,.695);
    color: black;
   text-align: center;
    font-family: 'Dosis', sans-serif;
        border-radius: 2em;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.6em;
   


}
.table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    background-color: white;
    background-color: rgba(255,255,255,.4);
    color: white;
    font-family: 'Dosis', sans-serif;
    border-radius: 2em;
}
.head{
    text-decoration: underline;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: lobster;
    font-size: 2em;
}
.columns {
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    font-family: 'Dosis', sans-serif;    

    
}

.left{
    text-align:left;
    margin-left: 80px;
}
#content {
    background-color: black;
    background-color: rgba(255,255,255,.52);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-radius: 25px;
    border-color: black;
}
.coverphoto {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-color: black;
    postion: relative;
}

.vids{
    width:400px;
    height:210px;
}
.bio_pics{
    width: 50%;
    height: 50%;
}
.emilypic {
    height:50%;
    width: 50%;
}
.pics{
    
    border-radius: 2em;

}
.inline {
    display: inline-block;
}
.inline2 {
    display: inline-block;
    color: black;
    width:200px;
    height: 150px;
/*    background-color: white;*/
    padding-right: 110px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    
}
.logo_pic{
       display: inline-block;
    width:300px;
    height: 200px;  
    background-color: white;
    background-color: rgba(255,255,255,.88); 
    padding-right: 110px;
    padding-top: 10px;
    padding-left: 2px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-radius: 3em;
}
    
.centerme{
    text-align: center;
    margin: 0 auto;
}
.spaceme{
    margin:.4em .4em .4em .4em;
}
.fatpad{
    padding: .005em 0 .005em 0 ;
}


a{
    font-size: 2em;

}
h3 {
color: black;
font-family: lobster;
   position: absolute; 
   top: 630px; 
   left: 800px; 
    background-color: rgba(255,255,255,.695);
   padding: 10px; 
    font-size: 2em;
    border-radius: 1em;

}
a:link {
    color: #b30000 ;
;
}
ul{
list-style-type: none;
}

a:hover {
    color: white;
}
a:visited{
    color: #b30000 ; 
}

.foot {
    color: black;
    font-size: 12px;
    text-align: center;
}

.citation {
    background-color: rgba(255,255,255,.9);
    margin-left: 10%;
    margin-right: 8%;
}

footer {
    font-size:.8em;
    color:black;
    text-align: center;
    background-color: rgba(255,255,255,.3); 
}
form {
    padding: 20px;
}
.fontbig {
font-size: 1.6em;
}
p {
    color: black;
}